<h2>Survey Taker:</h2>
<hr>
<h4 class="center-h4"><%= @survey.title %></h4>
<p><%= @survey.description %></p><br>
<em class="unselected-tab">Questions marked with an astetisk (*) are required</em><br><br>
<%= form_for @survey, :url => url_for(:controller => 'surveys', :action => 'generate_result') do |f| %>
	<% @survey.questions.each_with_index do |question, index| %>
		<%= f.fields_for "qid[#{question.id}]", question do |q_fields| %>
			<% if question.required %>
				<h4>*<%= index + 1 %>.<%= question.text %></h4><br>
			<% else %>
				<h4><%= index + 1 %>.<%= question.text %></h4><br>
			<% end %>
			<div class="col-md-offset-2 col-md-10">
				<% question.choices.each_with_index do |choice| %>
					<%= q_fields.fields_for choice do |c_fields| %>
						<% if question.choice_type == 'Just One' %>
							<%= c_fields.radio_button :checked_count, choice.id, :checked => false, :required => question.required %>
						<% else %>
							<%= c_fields.check_box :checked_count, {:checked => false, :multiple => true}, '1', '0' %>
						<% end %>
						<%= c_fields.label choice.text %><br>
					<% end %>
				<% end %>
				<br>
			</div><br>
		<% end %>
	<% end %>
	<div class="form-group create-btn-wrapper">
		<%= f.submit "Submit Your Survey", class: "create-button" %><br />
	</div>
<% end %>